@import 'compass';
@import 'compass/reset';
@import 'compass/css3';
@import 'font-awesome.scss';
@import 'http://fonts.googleapis.com/css?family=Open+Sans';

body {
	background: #F8F8F8;
	color: #3d3d3d;
	font-family: 'Open Sans', sans-serif;

	article {
		margin: 1em;
		text-align: center;

		.left {
			display: inline-block;
			vertical-align: top;
			width: 12em;
			margin-right: 1em;

			img {
				width: 100%;
				cursor: pointer;
				@include filter(grayscale(100%));
				@include transition(ease-in-out .3s);
				&:hover {
					@include filter(none);
				}
			}
		}

		.right {
			display: inline-block;
			text-align: left;

			h1 {
				font-size: 4em;
				margin-top: .07em;
				line-height: 1;
				
				@media(max-width: 480px) {
				  font-size: 3em;
				}
			}

			h2 {
				font-size: 2em;
				line-height: 1;
				margin-top: .2em;
				color: #9B9B9B;
			}
			
			.social {
			  margin-top: .6em;
			  
			  a {
			    margin-right: .2em;
			    color: #555;
			    @include transition(.5s);
			    
			    &:hover {
			      color: #2d2d2d;
			    }
			  }
			}
		}
	}
}
