@import 'compass';
@import 'compass/reset';
@import 'compass/css3';
@import 'http://fonts.googleapis.com/css?family=Open+Sans';

body {
	background: #F8F8F8;
	color: #3d3d3d;
	font-family: 'Open Sans', sans-serif;

	article {
		margin: 1em;
		text-align: center;

		.left {
			display: inline-block;
			vertical-align: top;
			width: 12em;
			margin-right: 1em;

			img {
				width: 100%;
				cursor: pointer;
				@include filter(grayscale(100%));
				@include transition(ease-in-out .3s);
				&:hover {
					@include filter(none);
				}
			}
		}

		.right {
			display: inline-block;
			text-align: left;

			h1 {
				font-size: 4em;
				line-height: 1;
			}

			h2 {
				font-size: 2em;
				line-height: 1;
				color: #9B9B9B;
			}
		}
	}
}