@import 'compass';
@import 'compass/reset';
@import 'compass/css3';

body {
	background: #F8F8F8;
	color: #3d3d3d;
	font-family: serif;

	article {
		margin: 1em;
		text-align: center;

		.left {
			display: inline-block;
			vertical-align: top;
			width: 12em;
			margin-right: 1em;

			img {
				width: 100%;
				cursor: pointer;
				@include filter(grayscale(100%));
				@include transition(.3s);
				&:hover {
					@include filter(none);
				}
			}
		}

		.right {
			display: inline-block;
			text-align: left;

			h1 {
				font-size: 3em;
				line-height: 1;
				margin-top: 0;
				margin-bottom: .2em;
			}
		}
	}
}