!!! 5

%head
	=meta_charset "UTF-8"

	%title Nick Shvelidze
	=meta_description "I create websites with â¤"

	=meta_viewport
	=stylesheet "css/style.css"
	=favicon "favicon.png"

	=if_ie do
		%script
			document.location = "/resume";

%body
	
	%article
		.left
			%img{ "src" => "img/photo.jpg", "alt" => "me" }
		.right
			%h1 Nick Shvelidze
			%h2 I code stuff

			%p some text