doctype html
head
  meta charset='UTF-8'
  title Nick Shvelidze
  meta name='description' content='I create websites with ❤'
  meta name='viewport' content='width=device-width,initial-scale=1'
  link rel='stylesheet' href='css/style.css'
  link rel='shortcut icon' href='favicon.png'
  /[lt IE9]
  	javascript
      document.location = "/resume";

body
  article
    .left
      img alt='me' src='img/photo.jpg'

    .right
      h1 Nick Shvelidze
      h2 I code stuff
