@font-face {
  font-family: 'Doppio One';
  font-style: normal;
  font-weight: 400;
  src: local('Doppio One Regular'), local('DoppioOne-Regular'), url('Dopioone.woff') format('woff');
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

::selection {
	background-color: #C8FF00;
}

.chromeFrameInstallDefaultStyle {
	width: 100%;
	border: 5px solid blue;
	z-index: 9999;
	position: fixed;
 }

.show-on-mobile, .show-on-ie {
	display:none;
}

body, html {
	font-family: 'Doppio One', sans-serif;	
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	color: white;
	overflow-x: hidden;
	position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
}

.container {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    overflow-x: hidden;   
    width: 400%;
	height: 100%;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}

img {
	border: none;
}

a, a:visited {
	color: #7bc5ff;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

a:hover, a:active {
	color: #2ea4ff;
}

.section {
	width: 25% !important;
	float: left;
}

#top {
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
	background: #477aff;
}

#top .middle {
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle;
	background: #454545;
}

h1.name {
	margin-top: 0;
	font-size: 800%;
	margin-bottom: 0;	
}

h1.name a {
	color: white;
	text-decoration: none;
}

.social {
	text-align:center;	
}

.social .links {
	display: inline-block;
	width: 70%;
	border-radius: 5px;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.social .links:hover {
	box-shadow: 0 0 5px white;
}

.social .links ul {
	display: table;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.social li {
	width: 20%;
	display: table-cell;	
}

.social a {
	display: block;
	height: 2cm;
	padding: 0;	
	margin: 0;
	line-height: 2cm;	
	font-size: 1cm;
	text-align: center;
	font-weight: bold;
	color: white;
	text-decoration: none;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;	
}

.social a:hover, .social a:active {
	background: white;	
}

.social li:first-child a {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.social li:last-child a {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.social .facebook { background-color: #133783 }
.social .facebook:hover, .social .facebook:active { color: #1D4088 !important }

.social .twitter { background-color: #33ccff }
.social .twitter:hover, .social .twitter:active { color: #33ccff !important }

.social .gplus { background-color: #343434 }
.social .gplus:hover, .social .gplus:active { color: #343434 !important }

.social .linkedin { background-color: #50a1cb }
.social .linkedin:hover, .social .linkedin:active { color: #50a1cb !important }

.social .tumblr { background-color: #2C4762 }
.social .tumblr:hover, .social .tumblr:active { color: #2C4762 !important }

#about {
	min-height: 100%;
	background: #556270;	
}

#works {
	min-height: 100%;
	background: #4ECDC4;
}

#experiments {
	min-height: 100%;
	background : #FF6B6B;	
}

h1.title {
	width: 100%;
	text-align: center;
	margin-top: 0;
	padding-top: 1.5cm;
	font-size: 400%;
}

nav.prev {
	position: fixed;
	z-index: 998;
	left: 0;
	top: 50%;
	margin-top: -0.5cm;
	width: 1cm;
	height: 2cm;	
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

nav.prev.hidden {
	left: -1cm;
}

a.prev {
	display: block;
	text-align: center;
	vertical-align: middle;
	line-height: 1.6cm;
	height: 2cm;
	font-size: 2cm;	
	background: url('../img/prev.png') no-repeat left center rgba(45,45,45,0.5);
	border-top: 2px solid rgba(255,255,255,0.5);
	border-right: 2px solid rgba(255,255,255,0.5);
	border-bottom: 2px solid rgba(255,255,255,0.5);
	color: white;
	text-decoration: none;
	border-top-right-radius: 1cm;
	border-bottom-right-radius: 1cm;
}


nav.next {
	position: fixed;
	z-index: 998;
	right: 0;
	top: 50%;
	margin-top: -0.5cm;
	width: 1cm;
	height: 2cm;
	text-align: center;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

nav.next.hidden {
	right: -1cm;
}

a.next{
	display: block;
	line-height: 2cm;
	height: 2cm;	
	background: url('../img/next.png') no-repeat right center rgba(45,45,45,0.5);
	border-top: 2px solid rgba(255,255,255,0.5);
	border-left: 2px solid rgba(255,255,255,0.5);
	border-bottom: 2px solid rgba(255,255,255,0.5);
	color: white;
	text-decoration: none;
	border-top-left-radius: 1cm;
	border-bottom-left-radius: 1cm;
}


nav.main {
	position: fixed;
	z-index: 998;
	left: 0;
	top: 0;
	width: 100%;
	height: 1.3cm;
	box-shadow: 0 0 10px rgba(45,45,45,0.6);
	text-align: center;
	background: rgba(45,45,45,0.7);	
}

nav.main ul {	
	width: auto;	
	padding: 0;
	margin: 0;
	height: 1.3cm;
	list-style: none;
	text-align: center;	
}

nav.main li {
	display: inline-block;
}

nav.main a, nav.main a:visited {
	display: block;
	padding-left: 10px;
	padding-right: 10px;	
	line-height: 1.5em;
	text-decoration: none;	
	color: white;
	font-size: 200%;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 0.5s;
	transition-duration: 1s;
	color: white;
}

nav.main a:hover, nav.main a.active {		
	text-shadow: 0 0 1em white;
	color: white;
	background: rgba(25,25,25,0.5);
}

#about article {
	padding: 0 2em 1em 2em;	
	font-size: 1.8em;
}

.grid {	
	text-align: center;
}

.grid .tile {
	width: 300px;
	height: 300px;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	margin-bottom: 10px;	
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.grid .tile:hover {
	width: 350px;
	height: 350px;	
}

.grid .tile .over {	
	display: table;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(45,45,45,0.8);	
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.grid .tile .over:hover {	
	opacity: 100;
}

.grid .tile .text {	
	display: table-cell;
	vertical-align: middle;
	text-align: center;	
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;		
}

.grid .tile .text h3 {
	margin-bottom: 3px;
}

.grid .tile .text p {
	margin-top: 0;
}

.grid .tile .text h3 a {
	color: #45a1ff;
	text-decoration: none;
	font-size: 180%;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.grid .tile .text h3 a:hover, .grid .tile .text h3 a:active {
	color: #8ec6ff;	
}

.grid .tile .text a {
	color: #71b7ff;
	text-decoration: none;	
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.grid .tile .text a:hover,.grid .tile .text a:active {
	color: #95c9ff;	
}

.grid .tile .text p {
	font-size: 150%;
}

.grid .tile .thumb {
	width: 100%;
	height: 100%;	
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center center;
	background-size: 100%;	
}